<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Dr. Michael W. Fox</h3>
				<ul class="mb3">
					<li class="mr3"><a href="/" class="link">Home</a></li>
					<li class="mr3"><a href="/post" class="link">Articles</a></li>
					<li class="mr3"><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>
			
			<div>
				<h3 class="f4 b lh-title mb1 primary">More Information</h3>
				<ul class="mb3">
					<li class="mr3"><a href="/post/curriculum-vitae/" class="link">Curriculum Vitae</a></li>
					<li class="mr3"><a href="/post/dr-fox-biographical-interview/" class="link">Biographical Interview</a></li>
					<li class="mr3"><a href="/post/lectures-seminars-and-workshops-by-dr-fox/" class="link">Lectures, Seminars and Workshops</a></li>
				</ul>
			</div>

		</div>
	</div>

</footer>

<!-- {{ partial "svg" . }} -->

<script src="/app.js"></script>

</body>

</html>
