<nav class="overflow-x-scroll overflow-x-visible-ns flex-ns justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="f3 b link ml3 primary">
		Dr. Michael W. Fox
	</a>

	<!-- Primary Nav -->
	<ul class="flex-ns b grey-3">
		<li><a href="/post" class="pa3 no-underline db tc">Articles</a></li>
		
		<li><a href="/post/books-by-dr-fox/" class="pa3 no-underline db tc">Books by Dr. Fox</a></li>

		<li><a href="/post/organizations-you-may-wish-to-support-to-help-the-animals-environment/" class="pa3 no-underline db tc">Organizations to Support</a></li>

		<li><a href="/contact" class="pa3 no-underline db tc">Contact</a></li>
	</ul>

</nav>
