<div class="bg-off-white pv4">
	<div class="ph3 mw7 center">
		<div class="flex-l mhn2-l">
			<div class="w-70-l ph2-l center">
				<p>This is one of my favorite quotes of all time by Lakota Sioux Chief Luther Standing Bear from his 1933 book <em>Land of the Spotted Eagle</em>:</p>
                <blockquote style="background-color: #f5f3f2;display: block;border-radius: .25rem;padding: 1rem;color: #3c7517;font-weight: 700;font-size: 1.25rem;margin-bottom: 1rem;">
                    <p style="margin-bottom: 0;">
                        "I am going to venture that the man who sat on the ground in his tipi meditating on life and its meaning, accepting the kinship of all creatures, and acknowledging unity with the universe of things was infusing into his being the true essence of civilization. And when native man left off this form of development, his humanization was retarded in growth."
                    </p>
                </blockquote>
            </div>
		</div>
	</div>
</div>