{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

{{ partial "short-text" .Params.welcome }}

{{ partial "2-up" (dict "heading" .Params.column.heading "text" .Params.column.text "buttonText" "Read The Animal Doctor column" "buttonLink" "https://www.uexpress.com/animal-doctor") }}

{{ partial "text-and-image" (dict "heading" .Params.book.heading "text" .Params.book.text "buttonText" "See the book on Amazon" "buttonLink" "https://www.amazon.com/Indias-Animals/dp/B06X9GL163") }}

{{ partial "blog" . }}

{{ end }}
