{{ define "main" }}

{{ partial "frontpage-jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

{{ partial "short-text" .Params.welcome }}

{{ partial "text-and-image" (dict "heading" .Params.column.heading "text" .Params.column.text "buttonText" "The Animal Doctor column" "buttonLink" "https://www.uexpress.com/animal-doctor") }}

{{ partial "deanna" (dict "heading" .Params.deanna.heading "text" .Params.deanna.text "buttonText" "Deanna Krantz Interview" "buttonLink" "/img/deanna_ipan.pdf") }}

{{ partial "image-and-text" (dict "heading" .Params.book.heading "text" .Params.book.text "buttonText" "India's Animals on Amazon" "buttonLink" "https://www.amazon.com/Indias-Animals/dp/B06X9GL163") }}

{{ partial "blog" . }}

{{ end }}
